{% extends "base.html" %}

{% block content %}
<body>
    <div class="bulma-center-mixin-parent">
        <table class="table is-bordered is-striped bulma-center-mixin">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Current Bid</th>
                <th>Buy Now</th>
                <th>Time Left</th>
                <th>Date Created</th>
            </tr>
            </thead>
            <tbody>
                {% for listing in listings %}
                <tr>
                    <th>{{ listing.item_name }}</th>
                    <th>{{ listing.current_bid }}</th>
                    <th>{{ listing.buy_now }}</th>
                    <th>{{ listing.time_left }}</th>
                    <th>{{ listing.date_created }}</th>
                    <th>
                        <button class="button is-info is-small">
                            <a href="{{ url_for('listings.buy_listing', listing_id=listing.item_id) }}">View</a>
                        </button>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}